body {
  margin: 0;
  font-size: 0.94em;
}

#app {
  height: 100vh;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  border: 0px;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.25) !important;
  border-radius: 4px;
}
