{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/npm", {
      "npmPublish": false
    }],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "echo \"${nextRelease.notes}\" >> ./resources/release-notes.md"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "yarn package-all -p onTagOrDraft"
      }
    ]
  ]
}
