html, body {
  padding: 0;
  margin: 0;
  border: 0;
  cursor: default;
  font-family: 'Roboto', '-apple-system', 'San Francisco', 'Helvetica Neue', sans-serif;;
  -webkit-user-select: none;
  text-rendering: optimizeLegibility;
}

body {
}

#root {
  height: 100vh
}

pre {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
}
::-webkit-scrollbar-track {
  border: 0px;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(200, 200, 200, 1) !important;
  border-radius: 4px;
}
