html, body {
  padding: 0;
  margin: 0;
  border: 0;
  cursor: default;
  font-family: 'Fira Code', 'Inconsolata-dz for Powerline', 'Roboto', '-apple-system', 'San Francisco', 'Helvetica Neue', sans-serif;;
  font-size: 0.9em;
  -webkit-user-select: none;
  text-rendering: optimizeLegibility;
}

body {
}

#root {
  height: 100vh
}

pre {
  margin: 0;
  padding: 0;
}

/*
::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  border: 0px;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(200, 200, 200, 1) !important;
  border-radius: 4px;
}
*/

/* leet hacks */
a.closeButton--jss-0-1 { display: none; }

*:focus {
    outline: none;
}

@-webkit-keyframes fade-up {
  0%   { -webkit-transform: translateY(5%); opacity: 0; }
  100% { -webkit-transform: translateY(0%); opacity: 1; }
}
